*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    
    font-family: "Old Standard TT", serif;
    user-select: none;
}


/* Navigaiton  */
.nav-container{
   
    display:flex;
    flex-direction: column;
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(17, 1, 1, 0.337);
    width:100%;
    height:90px;
    padding-top:30px;
    font-size: 25px; 
}
.header a{
    padding-right:50px;
     text-decoration-line: none;
     color:black;
     font-weight: 900;
}

/* Home Page's image*/
.photo {
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.photo-img {
    width: 100%;
    height: 600px;
    transition: all 0.3s ease-out;   
}
.photo-img:hover{
    transform: scale(1.1);
}


/* product page */
.product{
    padding-bottom: 20px;
    margin:0 100px;
}
.product h1{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}
.product-card{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;       
}
/* product in index.js*/
.product-card img{
    width: 100%;
    height:170px;
    object-fit: contain;
    padding-bottom: 20px;
}
.product-card .product-img{
    background-color: rgba(255, 255, 255, 0.785);
    padding-top:20px;
    border-radius: 20px 20px 0 0;  
}
.product-card div{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.782);
    color:rgba(255, 255, 255, 0.786);
    box-shadow: 5px 5px 5px  ;
    border-radius: 20px;
}
.product-card .design{
    padding-top: 30px;
}
.product-card p,h3{
    text-align: justify;
    padding:10px 20px;   
}


/* Footer */
footer{
    background-color:rgba(17, 1, 1, 0.337);
    color:black;
    height: 250px;
    padding:90px 60px;
}
.footer-page{
    display: flex;
    justify-content: space-between;
}


/* cart */
.cart-container{
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.iKAT__K9u8Flr1Up3qDpWgHaE8?cb=thfvnextfalcon&pid=ImgDet&w=474&h=316&rs=1&o=7&rm=3");
    background-position: center;
    background-size: cover;
}
.cart-btn{
    display: flex;
    justify-content: space-around;
}
.cart-btn button{
    width: 10%;
    height: 40px;
    margin: 30px 0 60px 0;
    outline: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.689);
    color:white;
    border-radius: 10px;  
}
/* cart in index.js */
.get-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 350px;
    padding-left:50px;
    padding-bottom: 50px;
}
.get-container img{
    width: 200px;
    height: 200px;
    object-fit: contain;  
}
.get-content{
    padding-left: 50px;
    width: 60%;
    text-align: justify;
}
.Cart-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 350px;    
}
.Cart-Container img{
    width:200px;
    height:200px;
    padding-right: 50px;
    object-fit: cover;
    background-color: none;
}

.delete-content {
    text-align: center;
    font-size: 30px;
    padding: 70px 0 0 0;
    width: 100vw;
    height: 350px;    
}



        
